# Python
__pycache__/
*.py[cod]
*$py.class

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/

# Environment / config
.env
.env.*
.envvenv/
.env.local/

# IDE files
.vscode/
.idea/

# Project generated folders
logs/
vectorstore/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# macOS
.DS_Store

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Coverage
.coverage
coverage.xml
htmlcov/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Flask instance folder
instance/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
