# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# IDE files
.vscode/
.idea/

# Environment / config
.env.*

# macOS
.DS_Store

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Coverage
.coverage
coverage.xml
htmlcov/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Flask instance folder
instance/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
